.blockinput {
   width: 100%;
   display: flex;
   flex-direction: row;
   height: 40px;
   align-items: center;
   justify-content: space-around;
   color: teal;
   font-weight: 400;
   font-size: 20px;
}

.boxinput {
   width: 35%;
}