.contentelem {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 5px;
   padding: 5px;
}

.contentelemtitle {
   width: 15%;
   display: flex;
   justify-content: flex-start;
}

.contentelemtitleto {
   width: 15%;
   display: flex;
   justify-content: flex-start;
}

.option {
   margin-right: 5px;

   &:last-child {
      margin-right: 0;
   }
}

.contentelemtitle {
   width: 150px;
}